{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Telegram Channel Registration</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'admin_bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'admin_bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% if request.user.is_authenticated %}
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href='/'>
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3" style="font-size: 14px">Telegram Channel Registration</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Divider -->
            <hr class="sidebar-divider">

            {% if request.user.is_authenticated %}
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <span class="nav-link">User: {{ request.user.userrecord.name }}</span>
                </li>
                {% if request.user.userrecord.check_admin or request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Register</span></a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-user"></i>
                        <span>View Registrations</span></a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Upload User Records</span></a>
                </li>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-user"></i>
                        <span>View Errors</span></a>
                </li>
                    {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Register</span></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw  fa-sign-out-alt"></i>
                        <span>Logout</span></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                    <div class="input-group">
                        <p>TELEGRAM CHANNEL REGISTRATION</p>
                    </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..."
                                           aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>&nbsp;&nbsp;
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.userrecord.name }}</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>

            </nav>
            <!-- End of Topbar -->

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% elif message.tags == 'success' %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% elif message.tags == 'warning' %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- Begin Page Content -->
            <div class="center">
                <div class="row show-grid">
                    <div class="col-md-offset-4">

                        <!-- Page Heading -->
                        {% block content %}

                        {% endblock content %}
                    </div>
                    <div class="clearfix visible-md"></div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>


</body>

</html>


<style>
    video {
        position: fixed;
        width: 100%;
    }

    canvas {
        position: fixed;
        z-index: 10;
    }

    .result-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .img-container {
        max-height: 50vh;
        overflow: scroll;
    }

    #img {
        max-height: 50%;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 15px;
    }

    image {
        object-fit: cover;
    }

    #containerr {
        order: 1;
    }

    .result-container {
        order: 2;
    }

    .center {
        margin: auto;
        width: 60%;
        border: 3px;
        padding: 10px;
    }
</style>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'admin_bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'admin_bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'admin_bootstrap/js/sb-admin-2.js' %}"></script>

<script>
    if($(window).width() <= 720)
    {
        console.log("Mobile width.")
        {#$("#")#}
        $("#sidebarToggleTop").click()
    }

</script>