 <!DOCTYPE html>
 {% load static %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/owl-slider.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/settings.css" %}"/>
        <link rel="shortcut icon" href="{% static "assets/images/favicon.png" %}" />
        <script type="text/javascript" src="{% static "assets/js/jquery-3.2.0.min.js" %}"></script>
        <title>Home</title>
    </head>
    <body>
    <div class="awe-page-loading">
         <div class="awe-loading-wrapper">
            <div class="awe-loading-icon">
               <img src="{% static "assets/images/logo.png" %}" alt="images">
            </div>
            <div class="progress">
               <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
      </div> 
    
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content popup-search">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control control-search" placeholder="Search and hit enter...">
                        <button class="button_search" type="button">Search</button>
                    </div><!-- /input-group -->

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- End pushmenu -->
    <div class="wrappage">
        <!-- <div id="rtl">RTL</div> -->
        <header id="header" class="header-v3 header-v2">
            <div id="topbar" class="topbar-ver2">
                <div class="container container-ver2">
                    <div class="inner-topbar box">
                        <div class="float-left">
                            <p><img src="{% static "assets/images/icon-phone-header.png.png" %}" alt="icon"> Call us <span> 073-7379-4466</span></p>
                        </div>
                        <div class="float-right align-right">
                            <div class="hover-menu">
                                <a class="acc" href="#" title="USD"><img src="{% static "assets/images/icon-user-header.png" %}" alt="icon">MY ACCOUNT</a>
                                <ul class="list-menu">
                                    <li><a href="#" title="USD">LOGIN</a></li>
                                    <li><a href="#" title="VND">REGISTER</a></li>
                                </ul>
                            </div>
                            <!-- End hover-menu -->
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End topbar -->
            <div class="header-top">
                    <div class="container container-ver2">
                    <div class="box">
                        <p class="icon-menu-mobile"><i class="fa fa-bars" ></i></p>
                        <div class="logo"><a href="#" title="Uno">
                        <img src="{% static "assets/images/logo-v2.png" %}" alt="images">
                        </a></div>
                        <div class="logo-mobile"><a href="#" title="Xanadu"><img src="{% static "assets/images/logo-v2.png" %}" alt="Xanadu-Logo"></a></div>

                        <div class="box-right">
                            <div class="cart hover-menu">
                                    <p class="icon-cart" title="Add to cart">
                                        <i class="icon"></i>
                                        <span class="cart-count">2</span>
                                    </p>
                                    <div class="cart-list list-menu">
                                        <ul class="list">
                                            <li>
                                                <a href="#" title="" class="cart-product-image"><img src="{% static "assets/images/products/1.jpg" %}" alt="Product"></a>
                                                <div class="text">
                                                    <p class="product-name">Union Bed</p>
                                                    <p class="product-price"><span class="price-old">₹ 700.00</span><span class="price">₹ 350.00</span></p>
                                                    <p class="qty">QTY:01</p>
                                                </div>
                                                <a class="close" href="#" title="close"><i class="fa fa-times-circle"></i></a>
                                            </li> 
                                            <li>
                                                <a href="#" title="" class="cart-product-image"><img src="{% static "assets/images/products/1.jpg" %}" alt="Product"></a>
                                                <div class="text">
                                                    <p class="product-name">Union Bed</p>
                                                    <p class="product-price"><span class="price-old">₹ 700.00</span><span class="price">₹ 350.00</span></p>
                                                    <p class="qty">QTY:01</p>
                                                </div>
                                                <a class="close" href="#" title="close"><i class="fa fa-times-circle"></i></a>
                                            </li>                                   
                                        </ul>
                                        <p class="total"><span class="left">Total:</span> <span class="right">₹ 1121.98</span></p>
                                        <div class="bottom">
                                            <a class="link-v1" href="#" title="viewcart">View Cart</a>
                                            <a class="link-v1 rt" href="#" title="checkout">Check out</a>
                                        </div>
                                    </div>
                                </div>
                            <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="icon"></i>
                            </div>
                        </div>
                                                <nav class="mega-menu">
                        <!-- Brand and toggle get grouped for better mobile display -->
                          <ul class="nav navbar-nav" id="navbar">
                            <li class="level1 active"><a href="index.html" title="Home">Home</a>
                            </li>
                              <li class="level1"><a href="about.html" title="About us">About us</a></li>
                            </li>
                            <li class="level1"><a href="blog_list.html" title="collections">Blog</a></li>
                            <li class="level1"><a href="contact.html" title="Contact us">Contact us</a></li>
                          </ul>
                        </nav>
                    </div>                
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
        </header><!-- /header -->
        <div class="tp-banner-container hidden-dot ver1">
            <div class="tp-banner" >
                <ul>    <!-- SLIDE  -->
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="{% static "assets/images/home1-slideshow2.jpg" %}"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-white customin randomrotateout font-ros tp-resizeme size-60 text-shadow"
                             data-x="650"
                             data-y="305"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3">Fresh Organic Food
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-white font-ros weight-300 skewfromleft customout size-20 letter-spacing-2 text-shadow"
                             data-x="505"
                             data-y="390"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">We Deliver Organic Fruits And Vegetables Fresh From Our Fields To Your Home
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout font-roc link-1 height-40 size-16"
                             data-x="865"
                             data-y="460"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5"><a href="#" title="View Shop" class="">View Details</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="{% static "assets/images/home1-slideshow1.jpg" %}"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-ea8800 customin randomrotateout font-ro tp-resizeme size-130 weight-300 uppercase"
                             data-x="585"
                             data-y="245"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3">Fresh Food
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-2b2b2b font-ros weight-400 skewfromleft customout size-20 letter-spacing-2"
                             data-x="505"
                             data-y="403"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">We Deliver Organic Fruits And Vegetables Fresh From Our Fields To Your Home
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout font-roc link-1 height-40 size-16"
                             data-x="865"
                             data-y="460"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5"><a href="#" title="View Shop" class="">View Details</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    `   <!-- End Slider Home2 -->
            <div class="container container-ver2">
                <div class="banner-home2 center">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <a class="hover-images" href="#" title="images">
                                <img class="img-responsive" src="{% static "assets/images/banner/3.jpg" %}" alt="banner">
                            </a>
                        </div>
                        <!--End col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href="#" class="hover-images" title="ịmages">
                                <img class="img-responsive" src="{% static "assets/images/banner/3.jpg" %}" alt="banner">
                            </a>
                        </div>
                        <!--End col-md-4-->
                        <div class="col-md-4 col-sm-4">
                            <a href="#" class="hover-images" title="images">
                                <img class="img-responsive" src="{% static "assets/images/banner/3.jpg" %}" alt="banner">
                            </a>
                        </div>
                        <!--End col-md-4-->
                    </div>
                </div>
            </div>
            <!--End Banner Home 2 -->
            <div class="container container-ver2">
                <div class="choose-us choose-us-home2">
                    <div class="col-md-4">
                        <img class="img-responsive hidden-table" src="{% static "assets/images/banner/6.jpg" %}" alt="banner">
                    </div>
                    <!--End col-md-4-->
                    <div class="col-md-8">
                        <div class="title-choose align-center">
                            <h3><span>We are </span>FRESH FOOD</h3>
                            <p>The fact of the matter is that you really know something's organic when you find bugs! they obviously wouldn't have made it that far in a non-organic growing environment, so better than any certification or seal on a package, the presence of creatures let you know the plant was healthy and</p>
                        </div>
                        <!--End title-choose-->
                        <div class="align-center border-choose">
                            <div class="images">
                                <img src="{% static "assets/images/bg-border-center.png" %}" alt="icon">
                            </div>
                        </div>
                        <!--End border-choose-->
                        <div class="shipping-v2 home3-shiping home2-shipping">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="border">
                                    <img src="{% static "assets/images/icon-shipping-1.png" %}" alt="images">
                                    <h3>Free Shipping</h3>
                                    <p>ON ORDER OVER ₹ 500</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="border">
                                    <img src="{% static "assets/images/icon-shipping-2.png" %}" alt="images">
                                    <h3>Support</h3>
                                    <p>LIFE TIME SUPPORT 24/7</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="border">
                                    <img src="{% static "assets/images/icon-shipping-3.png" %}" alt="images">
                                    <h3>Help Partner</h3>
                                    <p>HELP ALL ASPECTS</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="border">
                                    <img src="{% static "assets/images/icon-shipping-4.png" %}" alt="images">
                                    <h3>Contact With Us</h3>
                                    <p>+07 (0) 7782 9137</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End col-md-8-->
                </div>
            </div>
            <!--End Shipping Version 2-->
            <div class="bg-slider-one-item space-80 bg-home2-slider">
                <div class="container container-ver2">
                    <div class="title-text-v2 align-center">
                        <h3>Our Suppliers</h3>
                        <img src="{% static "assets/images/title-line.png" %}" alt="icon">
                    </div>
                    <!--End title-->
                    <div class="brand-content owl-carousel">
                        <div class="items">
                            <a href="#" title="brand"><img class="img-responsive" src="{% static "assets/images/brand-1.png" %}" alt="Brand"></a>
                        </div>
                        <div class="items">
                            <a href="#" title="brand"><img class="img-responsive" src="{% static "assets/images/brand-1.png" %}" alt="Brand"></a>
                        </div>
                        <div class="items">
                            <a href="#" title="brand"><img class="img-responsive" src="{% static "assets/images/brand-1.png" %}" alt="Brand"></a>
                        </div>
                        <div class="items">
                            <a href="#" title="brand"><img class="img-responsive" src="{% static "assets/images/brand-1.png" %}" alt="Brand"></a>
                        </div>
                        <div class="items">
                            <a href="#" title="brand"><img class="img-responsive" src="{% static "assets/images/brand-1.png" %}" alt="Brand"></a>
                        </div>
                        <div class="items">
                            <a href="#" title="brand"><img class="img-responsive" src="{% static "assets/images/brand-1.png" %}" alt="Brand"></a>
                        </div>
                    </div>
                </div>
                <!--End container-->
            </div>
            <!--End bg-slider-->
        <div class="container">
            <div class="title-text-v2">
                <h3>Lastest Products</h3>
            </div>
            <div class="featured-products home_2 new-arrivals lastest">
                <ul class="tabs tabs-title">
                    <li class="item" rel="tab_1">All Product</li>
                    <li class="item" rel="tab_2">Fruits</li>
                    <li class="item" rel="tab_3">Vegetables</li>
                    <li class="item" rel="tab_4">Nuts</li>
                    <li class="item" rel="tab_5">Other ProDucts</li>
                </ul>
                <div class="tab-container space-10">
                    <div id="tab_1" class="tab-content">
                        <div class="products hover-shadow ver2 border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">BlueBerry</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/2.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/2.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Mango</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/3.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/3.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">BlackBerry</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/4.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/4.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Peach</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/5.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/5.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">RedBerry</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/6.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/6.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Spices</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/7.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/7.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Cucumber</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/8.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/8.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Tomato</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/9.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/9.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Male</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/10.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/10.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Passion Fruit</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_2" class="tab-content">
                        <div class="products hover-shadow ver2 border-space-product">
                            <div class="product hover-shadow">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/11.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/11.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/12.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/12.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/13.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/13.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/14.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/14.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/15.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/15.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/16.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/16.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/17.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/17.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_3" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_4" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                    <div id="tab_5" class="tab-content">
                        <div class="products ver2 hover-shadow border-space-product">
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>
                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                            <div class="product">
                                <div class="product-images">
                                    <a href="#" title="product-images">
                                        <img class="primary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                        <img class="secondary_image" src="{% static "assets/images/products/featured/1.jpg" %}" alt=""/>
                                    </a>
                                    <div class="action">
                                            <a class="add-cart" href="#" title="Add to cart"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                </div>
                                <a href="#" title="Union Bed"><p class="product-title">Union Bed</p></a>
                                <p class="product-price-old">₹ 700.00</p>
                                <p class="product-price">₹ 350.00</p>

                            </div>
                            <!-- End item -->
                        </div>
                        <!-- End product-tab-content products -->
                    </div>
                    <!-- End tab-content -->
                </div>
            </div>
            <div class="box center space-padding-tb-30 space-30">
                <a class="link-v1 color-brand font-300" href="List_products.html" title="View All">View All</a>
            </div>
        </div>
        <!-- End container-ver2 -->
        <div class="special bg-images special-v2 box" style="background-image:url("{% static 'assets/images/home1-banner1.jpg'%}");background-repeat: no-repeat;">
            <div class="col-md-7 float-left align-right">
                <img class="images-logo" src="{% static "assets/images/home1-images-banner1-2.png" %}" alt="images">
            </div>
            <!-- End col-md-7 -->
            <div class="col-md-5 float-right">
                <div class="special-content align-center">
                    <p>Special Offers</p>
                    <h3>Get 30% off</h3>
                    <h5>your order of ₹ 100 or more</h5>
                    <div class="time" data-countdown="countdown" data-date="04-20-2017-10-20-30"></div>
                    <a class="link-v1 color-brand" href="#" title="shopnow">Shop Now</a>
                </div>
            </div>
            <!-- End col-md-5 -->
        </div>
        <!-- End container -->
        <div class="container container-ver2 blog-home1">
            <div class="title-text-v2">
                <div class="icon-title align-center space-20">
                    <img src="{% static "assets/images/title-lastest-from.png" %}" alt="icon-title">
                </div>
                <h3>Lastest From Blog</h3>
                <a class="link" href="#" title="See all">See all</a>
            </div>
            <!-- End title -->
            <div class="blog-content owl-carousel slider-three-item">
                <div class="item">
                    <a class="hover-images" href="#" title="images">
                        <img class="img-responsive" src="{% static "assets/images/ImgBlog/4.jpg" %}" alt="blog">
                    </a>
                    <div class="text-v2">
                        <a href="#" title="title"><h3>The Best Way to Clean Your Pillows</h3></a>
                        <p class="by">By EngoCreative / 3 Comments</p>
                        <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing...</p>
                    </div>
                </div>
                <!-- End item -->
                <div class="item">
                    <a class="hover-images" href="#" title="images">
                        <img class="img-responsive" src="{% static "assets/images/ImgBlog/4.jpg" %}" alt="blog">
                    </a>
                    <div class="text-v2">
                        <a href="#" title="title"><h3>17 Small Space Decorating Tricks ...</h3></a>
                        <p class="by">By EngoCreative / 3 Comments</p>
                        <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing...</p>
                    </div>
                </div>
                <!-- End item -->
                <div class="item">
                    <a class="hover-images" href="#" title="images">
                        <img class="img-responsive" src="{% static "assets/images/ImgBlog/4.jpg" %}" alt="blog">
                    </a>
                    <div class="text-v2">
                        <a href="#" title="title"><h3>The Best Bathrooms of 2014</h3></a>
                        <p class="by">By EngoCreative / 3 Comments</p>
                        <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing...</p>
                    </div>
                </div>
                <!-- End item -->
            </div>
            <!-- End blog-content owl-carousel -->
        </div>
        <!-- End container -->
            <div id="back-to-top">
                <i class="fa fa-long-arrow-up"></i>
            </div>
        <footer id="footer" class="footer-v3 align-left">
              <div class="container container-ver2">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h3 class="title-footer">About Us</h3>
                            <p>With more than 15 years of experience we can proudly say that we are one of the best in business, a trusted supplier for more than 1000 companies...</p>
                            <a class="link-footer" href="#" title="footer">Read more <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3 class="title-footer">Infomation</h3>
                            <ul class="list-footer">
                                <li><a href="#" title="title">Delivery</a></li>
                                <li><a href="#" title="title">Legal Notice</a></li>
                                <li><a href="#" title="title">Terms & Conditions</a></li>
                                <li><a href="#" title="title">About Us</a></li>
                                <li><a href="#" title="title">Secure Payment</a></li>
                                <li><a href="#" title="title">Our Stores</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3 class="title-footer">Get It Touch</h3>
                            <div class="social space-30">
                                <a href="#" title="t"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="f"><i class="fa fa-facebook"></i></a>
                                <a href="#" title="y"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" title="g"><i class="fa fa-google"></i></a>
                            </div>
                            <h3 class="title-footer">Payment Accept</h3>
                            <a href="#" title="paypal"><img src="{% static "assets/images/paypal-footer.png" %}" alt="images"></a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h3 class="title-footer">Get Newsletter</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                            <div class="subscribe">
                                <form action="#" method="get" accept-charset="utf-8">
                                    <input type="text" onblur="if (this.value == '') "{this.value = 'Enter Your Email Address';}"" onfocus="if(this.value != '') "{this.value = '';}"" value="Enter Your Email Address" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email"> 
                                    <button class="button button1 hover-white" title="Subscribe" type="submit">Subscribe<i class="fa fa-long-arrow-right"></i></button>
                                </form>
                            </div>
                            <!-- End subscribe -->
                        </div>
                    </div>
                    <!-- End row -->
                  </div>
                  <!-- End footer-inner -->
              </div>
              <!-- End container -->
              <div class="footer-bottom box">
                <div class="container container-ver2">
                    <div class="box bottom">
                        <p class="float-left">Copyright &copy;2016 Fresh Food - All Rights Reserved.</p>
                        <div class="float-right">
                            <ul class="menu-bottom-footer">
                                <li><a href="#" title="Contact Us">Contact Us</a></li>
                                <li><a href="#" title="Term of Use">Term of Use</a></li>
                                <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                                <li><a href="#" title="Site Map">Site Map</a></li>
                            </ul>
                            <div class="language">
                                <span>Language:</span>
                                <div class="hover-menu">
                                    <p>EN <i class="fa fa-angle-down"></i></p>
                                    <div class="list-menu">
                                        <ul>
                                            <li><a href="#" title="EN">EN</a></li>
                                            <li><a href="#" title="VN">VN</a></li>
                                        </ul>
                                    </div>    
                                </div>
                                <span>Price:</span>
                                <div class="hover-menu">
                                    <p>USD <i class="fa fa-angle-down"></i></p>
                                    <div class="list-menu">
                                        <ul>
                                            <li><a href="#" title="USD">USD</a></li>
                                            <li><a href="#" title="VND">VND</a></li>
                                        </ul>
                                    </div>    
                                </div>
                            </div>
                            <!-- End language -->
                        </div>
                    </div>
                </div>
                <!-- End container -->
              </div>
        </footer>
        </div>
    <!-- End wrappage -->
    <script type="text/javascript" src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/owl.carousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.themepunch.revolution.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.themepunch.plugins.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/engo-plugins.js" %}"></script>
    
    <script type="text/javascript" src="{% static "assets/js/slick.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/store.js" %}"></script>
    </body>    
</html>