{% extends 'executive_base.html' %}

{% block content %}
    <div class="container">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <p style="color:red">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn btn-primary" value="submit" type="submit">Create Package</button>
        </form>
    </div>

{% endblock content %}