{% extends 'executive_base.html' %}

{% block content %}
    <div style="height: 100%" class="container-fluid d-flex justify-content-center align-items-center">
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>
                    Enter email
                    <input class="form-control" type="email" name="email">
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Mark Sub Admin" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock content %}
