{% extends 'executive_base.html' %}

{% block content %}
    <div class="container-fluid" style="height: 100%">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>
                    Enter Delivery Man Email
                    <input type="email" class="form-control" name="email">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Enter Delivery Man Phone Number
                    <input type="text" minlength=10 maxlength=10 class="form-control" name="phone">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Enter Delivery Man Vehicle Number
                    <input type="text" class="form-control" name="vehicle_no">
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Add delivery executive" class="btn btn-primary">
            </div>
        </form>
    </div>

{% endblock content %}