{% extends 'executive_base.html' %}

{% block content %}
    <div class="container-fluid" style="height: 100%">
        {% if assigned_orders %}
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="select_all" onclick="check_uncheck_all()">
                    </th>
                    <th>Order Person Name</th>
                    <th>Order Person Phone</th>
                    <th>Order Address</th>
                    <th>Order Price</th>
                </tr>
                </thead>
                <tbody>
                {% for order in assigned_orders %}
                    <tr>
                        <td>
                            <input type="checkbox" class="table_checkbox_child" value="{{ order.id }}"
                                   id="{{ order.id }}"
                                   data-lat={{ order.address.lat }} data-lon={{ order.address.long }}
                                   onclick="check_one(event)">
                        </td>
                        <td>
                            {{ order.name }}
                        </td>
                        <td>
                            {{ order.phone }}
                        </td>
                        <td>
                            <p>
                                {{ order.address.door_no }}, {{ order.address.street }}<br>
                                <strong>Near</strong>&nbsp;{{ order.address.landmark }}<br>
                                {{ order.address.area }}&nbsp;<br>
                                {{ order.address.pincode }}&nbsp;&nbsp;<br>
                            </p>
                        </td>
                        <td>
                            &#8377;
                            {{ order.price }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row my-4">
                <div class="col-sm-5 d-inline">
                    <button class="btn btn-primary" id="mark_delivered" onclick="complete_order()">
                        Deliver selected
                    </button>
                </div>
                <div class="col-sm-5 d-inline">
                    <button class="btn btn-primary" id="view_on_maps" onclick="view_on_maps()">
                        View selected on maps
                    </button>
                </div>
            </div>
        {% else %}
            <div class="jumbotron">
                <h3>No deliveries as of now.</h3>
            </div>
        {% endif %}
    </div>

    <script>
        const check_uncheck_all = () => {
            let element_clicked = document.getElementById('select_all');
            let current_state = element_clicked.checked;
            let table_check_children = Array.from(document.getElementsByClassName('table_checkbox_child'));
            console.log(table_check_children);
            table_check_children.forEach(child => {
                child.checked = current_state;
            })
        }

        const check_one = (event) => {
            const all_elems = Array.from(document.getElementsByClassName('table_checkbox_child'));
            let counter = 0;
            all_elems.forEach(elem => {
                if (elem.checked) {
                    counter++;
                }
            })

            if (counter === all_elems.length) {
                document.getElementById('select_all').checked = true;
            } else {
                document.getElementById('select_all').checked = false;
            }

        }

        function distance(lat1, lon1, lat2, lon2) {
            if ((lat1 == lat2) && (lon1 == lon2)) {
                return 0;
            } else {
                var radlat1 = Math.PI * lat1 / 180;
                var radlat2 = Math.PI * lat2 / 180;
                var theta = lon1 - lon2;
                var radtheta = Math.PI * theta / 180;
                var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                if (dist > 1) {
                    dist = 1;
                }
                dist = Math.acos(dist);
                dist = dist * 180 / Math.PI;
                dist = dist * 60 * 1.1515;

                dist = dist * 1.609344
                return dist;
            }
        }


        var checked_elems;
        var distances = [];

        function getLocation_and_redirect() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(gotPosition, gotError);
            }
        }

        function gotError(error) {
            {#alert(error.code);#}
            alert('Unable to get your location. Please reload and give appropriate permissions.')
        }


        function gotPosition(position) {

            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            /*
            checked_elems.forEach(elem => {
                distances.push(distance(latitude,longitude,elem.getAttribute('data-lat'),elem.getAttribute('data-lon')))
            })
            var index = 0;
            for(var i in distances){
                if(distances[i] > max_elem){
                    index=i;
                }
            }
            var max_elem = checked_elems[index];
            checked_elems.splice(index,1);
            */
            var url = `https://www.google.com/maps/dir/?api=1`
            url += `&origin=${latitude},${longitude}&destination=${latitude},${longitude}`
            {#url+= `&destination=${max_elem.getAttribute('data-lat')},${max_elem.getAttribute('data-lon')}`#}
            url += `&waypoints=`
            checked_elems.forEach(elem => {
                var lat = elem.getAttribute('data-lat');
                var lon = elem.getAttribute('data-lon');
                url += `${lat},${lon}|`
            })
            console.log(url);
            window.open(url);
            {#window.location.href=url;#}
        }


        const view_on_maps = () => {
            const all_elems = Array.from(document.getElementsByClassName('table_checkbox_child'));
            checked_elems = all_elems.filter((elem) => {
                return elem.checked === true
            })

            getLocation_and_redirect();
            /*
            checked_elems.forEach(elem =>{
               const lat = elem.getAttribute('data-lat');
               const lon = elem.getAttribute('data-lon');
               console.log(lat,lon)
            })*/
            {#const url = `https://www.google.com/maps/search/?api=1&query=${checked_elems[0].getAttribute('data-lat')},${checked_elems[0].getAttribute('data-lon')}`#}
        }

        const complete_order = () => {
            const check_box_elements = Array.from($('.table_checkbox_child'));
            const checked_elements = check_box_elements.filter(elem => {
                return elem.checked === true
            })

            if (checked_elements.length < 1) {
                alert('you should check atleast one order');
            } else if (checked_elements.length > 1) {
                alert("You shouldn't check more than one order at once.")

            } else {
                const order_id = checked_elements[0].value;
                if (confirm('Are you sure ?')) {
                    swal({
                        text: 'Enter Order PIN from Customer',
                        content: "input",
                        button: {
                            text: "Finish Order",
                            closeModal: false,
                        },
                    })
                        .then(pin => {
                            if (!pin) throw null;
                            return fetch(`/executives/confirm_pin_and_mark_delivered?order_id=${Number.parseInt(order_id)}&pin=${Number.parseInt(pin)}`);
                        })
                        .then(results => {
                            return results.json();
                        })
                        .then(json_response => {

                            if (json_response.code === 'SUCCESS') {
                                swal("Success", `${json_response.message}`, 'success');
                                setTimeout(() => {
                                    location.reload()
                                }, 3000)
                            } else if (json_response.code === 'ERROR') {
                                swal("Oh noes!", `Something Went Wrong. ${json_response.message} `, "error");
                            } else {
                                swal("Oh noes!", "Something Went Wrong. Contact Admin!", "error");
                            }

                        })
                        .catch(err => {
                            if (err) {
                                swal("Oh noes!", "Something Went Wrong. Contact Admin!", "error");
                            } else {
                                swal.stopLoading();
                                swal.close();
                            }
                        });
                }
            }


        }

    </script>
{% endblock content %}