{% extends 'executive_base.html' %}

{% block content %}
    <div class="container-fluid">
        <form action="{% url 'auth-complete' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>
                    Delivery Executive or Admin
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="DEL">Delivery Executive </option>
                        <option value="ADM">Admin Executive </option>
                    </select>
                </label>
            </div>

            <div class="form-group">
                <label>
                    Enter Password
                    <input type="password" name="password1" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Confirm Password
                    <input type="password" name="password2" class="form-control">
                </label>
            </div>
            <input type="submit" value="submit" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}