{% extends 'executive_base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="jumbotron">
            <h4>Please wait until admin acknowledgement .Try reminding the admins</h4>
        </div>
    </div>

{% endblock content %}