{% extends 'executive_base.html' %}
{% block content %}

    <div class="container-fluid">
            {% if user.is_authenticated %}
                Welcome {{ user.get_full_name }}
            {% else %}
                <div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 80vh">
                    <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center ">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">
                            <button class="btn btn-primary">
                                <i class="fab fa-google"></i>&nbsp;
                                <span>Login with Google.</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="container" style=" margin: 0 auto">
                            <div class="row mb-4">
                                Login
                            </div>
                            <form action="{% url 'executive-login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>
                                        Enter Email
                                        <input type="email" name="email" class="form-control">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        Enter Password
                                        <input type="password" name="password" class="form-control">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="submit" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

{% endblock content %}