{% extends 'executive_base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row mb-5">
            <button class="mx-3 my-2 btn btn-info" onclick="handle_query(event)" id="None">All</button>
            <button class="mx-3 my-2 btn btn-primary" onclick="handle_query(event)" id="Initiated">Arrived</button>
            <button class="mx-3 my-2 btn btn-primary" onclick="handle_query(event)" id="Assigned">Assigned</button>
            <button class="mx-3 my-2 btn btn-success" onclick="handle_query(event)" id="Delivered">Delivered</button>
            <button class="mx-3 my-2 btn btn-danger" onclick="handle_query(event)" id="Cancelled">Cancelled</button>
        </div>
        {% if order_list %}
            {% for order in order_list %}
                <div class="row shadow-lg my-5 bg-white">
                    <div class="col-sm-12">
                        <div class="row my-4">
                            <div class="col-sm-4">
                                <h4><strong>Order Person</strong></h4>
                                <h5>{{ order.name }}</h5>
                            </div>
                            <div class="col-sm-4">
                                <h4><strong>Order Id</strong></h4>
                                <h5>{{ order.id }}</h5>
                            </div>
                            <div class="col-sm-4">
                                <h4><strong>Order Phone number</strong></h4>
                                <h4>{{ order.phone }}</h4>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-4">
                                <h4><strong>Order status</strong></h4>
                                {% if order.status == 0 %}
                                    <h4>Initiated</h4>
                                {% elif order.status == 1 %}
                                    <h4>Assigned</h4>
                                {% elif order.status == 2 %}
                                    <h4>Delivered</h4>
                                {% elif order.status == 3 %}
                                    <h4>Cancelled</h4>
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                <h4>
                                    <strong>Order Placed Time and Date</strong></h4>
                                <h4>{{ order.placed_at }}</h4>
                            </div>
                            <div class="col-sm-4">
                                <h4>
                                    <strong>Order Assigned To</strong>
                                </h4>
                                {% if order.assigned_to %}
                                    <h4>{{ order.assigned_to.user.username }} : {{ order.assigned_to.phone }}</h4>
                                {% else %}
                                    <h4>NIL</h4>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row my-4 mx-auto">
                            <h4><strong>Address : </strong></h4>
                            <h4>&nbsp;{{ order.address.door_no }}</h4>
                            <h4>&nbsp;{{ order.address.street }}</h4>
                            <h4>&nbsp;{{ order.address.area }}</h4>
                            <h4>&nbsp;{{ order.address.landmark }}</h4>
                            <h4>&nbsp;{{ order.address.pincode }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="jumbotron">
                <h3>NIL</h3>
            </div>
        {% endif %}
    </div>

    <script>
        const handle_query = (event) => {
            const element = event.target;
            console.log(element.id);
            if(element.id === "None"){
                window.location.href = "/executives/list_orders"
            }
            else{
                window.location.href = `/executives/list_orders?query=${element.id}`
            }
        }
    </script>
{% endblock content %}