{% extends 'executive_base.html' %}

{% block content %}

<div class="container-fluid">
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Package Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Current Stock</th>
            <th>Image</th>
            <th>Action Edit</th>
            <th>Action Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.name }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.price }}</td>
                <td>{{ package.weight }}</td>
                <td>{{ package.stock }}</td>
                <td>
                    <img src="{{ package.image.url }}" alt="image not found" width="150" height="100">
                </td>
                <td>
                    <a href="">
                        <button class="btn btn-primary">
                            Edit package details
                        </button>
                    </a>
                </td>
                <td>
                    <a href="">
                        <button class="btn btn-danger">
                            Delete package
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
</div>

{% endblock %}