{% extends 'executive_base.html' %}

{% block content %}

    <div class="container-fluid" style="height: 100%">
        <table class="table table-responsive table-striped table-bordered">
            {% csrf_token %}
            <thead>
            <tr>
                <th>
                    <input type="checkbox" class="checkbox" id="select_all" onclick="check_uncheck_all()">
                </th>
                <th>Order ID</th>
                <th>Order Person Details</th>
                <th>Order Address</th>
                <th>Order Placed Time</th>
                <th>Order Price</th>
            </tr>
            </thead>
            {% for order in orders %}
                <tr>
                    <td>
                        <input type="checkbox" class="checkbox table_checkbox_child" id="{{ order.id }}"
                               onclick="check_one(event)">
                    </td>
                    <td>
                        {{ order.id }}
                    </td>
                    <td>
                        Name: {{ order.name }}<br>
                        Phone: {{ order.phone }}
                    </td>
                    <td>
                        {{ order.address.door_no }},&nbsp;
                        {{ order.address.street }},&nbsp;
                        <strong>Near</strong>&nbsp;{{ order.address.landmark }},&nbsp;
                        {{ order.address.area }}.&nbsp;
                    </td>
                    <td>
                        {{ order.placed_at }}
                    </td>
                    <td>
                        {{ order.price }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="row">

            <div class="col-sm-4">
                <label>
                    Delivery Man
                    <select class="form-control" id="select_delivery_man">
                        {% for delivery_man in delivery_men %}
                            <option value="{{ delivery_man.id }}">{{ delivery_man.user.username }}&nbsp;{{ delivery_man.vehicle_number }}&nbsp;{{ delivery_man.phone }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary" onclick="alert_and_submit()">
                    Assign selected
                </button>
            </div>
        </div>
    </div>

    <script>
        const check_uncheck_all = () => {
            let element_clicked = document.getElementById('select_all');
            let current_state = element_clicked.checked;
            let table_check_children = Array.from(document.getElementsByClassName('table_checkbox_child'));
            console.log(table_check_children);
            table_check_children.forEach(child => {
                child.checked = current_state;
            })
        }

        const check_one = (event) => {
            const all_elems = Array.from(document.getElementsByClassName('table_checkbox_child'));
            let counter = 0;
            all_elems.forEach(elem => {
                if (elem.checked) {
                    counter++;
                }
            })

            if (counter === all_elems.length) {
                document.getElementById('select_all').checked = true;
            } else {
                document.getElementById('select_all').checked = false;
            }

        }

        const alert_and_submit = () => {


            const checked_elems = Array.from(document.getElementsByClassName('table_checkbox_child')).filter(element => {
                return element.checked === true;
            })
            if (checked_elems.length == 0) {
                alert('You should select atleast one order to assign to a delivery executive.')
                return;
            }
            var order_ids = [];
            var order_id_string = "Are you sure you want to assign orders with ids: ";
            checked_elems.forEach((element, index) => {
                order_ids.push(element.id)
                if (index != checked_elems.length - 1) {
                    order_id_string += `${element.id} ,`
                } else {
                    order_id_string += `${element.id}.`
                }

            })
            var selectElement = document.getElementById('select_delivery_man')

            order_id_string += ` to ${selectElement.options[selectElement.selectedIndex].text}`
            const del_exec_id = document.getElementById("select_delivery_man").value;
            const csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            console.log(del_exec_id);
            swal({
                title: "Please Confirm",
                text: order_id_string,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((shouldAssign) => {
                    if (shouldAssign) {
                        /* Call backend and do stuff */
                        const data = {
                            "csrfmiddlewaretoken": csrf_token,
                            "order_ids": order_ids,
                            "assign_to": del_exec_id
                        }
                        const formData = new FormData();
                        for (let dataKey in data) {
                            formData.append(dataKey, data[dataKey])
                        }
                        fetch(`/executives/assign_orders/`, {
                            method: "POST",
                            body: formData
                        }).then(response => {
                            return response.json();
                        }).then(result => {
                            {#console.log(result.code);#}
                            {#console.log(result.message);#}

                            if (result.code === 'ERROR') {
                                swal("Oops", result.message, "error");
                            } else if (result.code === 'SUCCESS') {
                                swal("Yepp..", result.message, 'success')
                            }
                        })
                        console.log(order_ids);
                        console.log(del_exec_id);
                    } else {
                        /* Do nothing actually. */
                    }
                });

        }

    </script>

{% endblock content %}